In [1]:
import pandas as pd
import data

In [2]:
train_frame,train_labels_frame,test_frame,macro_frame=data.loadFrame()

In [3]:
train_frame.shape

(30471, 290)

In [4]:
test_frame.shape

(7662, 290)

In [5]:
all_frame=pd.concat((train_frame,test_frame),axis=0)

In [6]:
all_frame.shape

(38133, 290)

In [7]:
all_frame.pop("timestamp")

id
1        2011-08-20
2        2011-08-23
3        2011-08-27
4        2011-09-01
5        2011-09-05
6        2011-09-06
7        2011-09-08
8        2011-09-09
9        2011-09-10
10       2011-09-13
11       2011-09-16
12       2011-09-16
13       2011-09-17
14       2011-09-19
15       2011-09-19
16       2011-09-20
17       2011-09-20
18       2011-09-20
19       2011-09-22
20       2011-09-22
21       2011-09-22
22       2011-09-22
23       2011-09-23
24       2011-09-23
25       2011-09-23
26       2011-09-24
27       2011-09-26
28       2011-09-26
29       2011-09-26
30       2011-09-27
            ...
38106    2016-05-20
38107    2016-05-20
38108    2016-05-20
38109    2016-05-20
38110    2016-05-21
38111    2016-05-21
38112    2016-05-21
38113    2016-05-21
38114    2016-05-23
38115    2016-05-23
38116    2016-05-23
38117    2016-05-23
38118    2016-05-23
38119    2016-05-23
38120    2016-05-23
38121    2016-05-23
38122    2016-05-23
38123    2016-05-24
38124    2016-05-24
38125    2016-05-24
38126    2016-05-24
38127    2016-05-25
38128    2016-05-25
38129    2016-05-25
38130    2016-05-26
38131    2016-05-26
38132    2016-05-28
38133    2016-05-30
38134    2016-05-30
38135    2016-05-30
Name: timestamp, dtype: object

In [8]:
all_frame.shape

(38133, 289)

In [9]:
#one-hot encoding
all_frame_dummy=pd.get_dummies(data=all_frame)

In [10]:
all_frame_dummy.shape

(38133, 451)

In [11]:
all_frame_dummy.head()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,area_m,...,water_1line_yes,big_road1_1line_no,big_road1_1line_yes,railroad_1line_no,railroad_1line_yes,ecology_excellent,ecology_good,ecology_no data,ecology_poor,ecology_satisfactory
id,,,,,,,,,,,,,,,,,,,,,
1,43.0,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,6.407578e+06,...,0,1,0,1,0,0,1,0,0,0
2,34.0,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,9.589337e+06,...,0,1,0,1,0,1,0,0,0,0
3,43.0,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.808270e+06,...,0,1,0,1,0,0,0,0,1,0
4,89.0,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,1.258354e+07,...,0,1,0,1,0,0,1,0,0,0
5,77.0,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,8.398461e+06,...,0,1,0,0,1,1,0,0,0,0

# Dealing with missing value

In [12]:
all_frame_dummy.isnull().sum().sort_values(ascending=False).head(20)

hospital_beds_raion            17859
cafe_sum_500_min_price_avg     16440
cafe_avg_price_500             16440
cafe_sum_500_max_price_avg     16440
build_year                     14654
state                          14253
max_floor                       9572
material                        9572
num_room                        9572
kitch_sq                        9572
preschool_quota                 8284
school_quota                    8280
cafe_avg_price_1000             7746
cafe_sum_1000_max_price_avg     7746
cafe_sum_1000_min_price_avg     7746
life_sq                         7559
build_count_panel               6209
build_count_slag                6209
build_count_foam                6209
build_count_mix                 6209
dtype: int64

In [13]:
#use mean to fill the missing value
mean_cols=all_frame_dummy.mean()

In [14]:
mean_cols

full_sq                                  5.411117e+01
life_sq                                  3.403346e+01
floor                                    7.667123e+00
max_floor                                1.256759e+01
material                                 1.834390e+00
build_year                               2.716785e+03
num_room                                 1.900844e+00
kitch_sq                                 6.543995e+00
state                                    2.071650e+00
area_m                                   1.766282e+07
raion_popul                              8.475286e+04
green_zone_part                          2.201989e-01
indust_part                              1.195315e-01
children_preschool                       5.183292e+03
preschool_quota                          3.269048e+03
preschool_education_centers_raion        4.058532e+00
children_school                          5.397529e+03
school_quota                             8.300673e+03
school_education_centers_raion           4.715548e+00
school_education_centers_top_20_raion    1.093279e-01
hospital_beds_raion                      1.193585e+03
healthcare_centers_raion                 1.335903e+00
university_top_20_raion                  1.403509e-01
sport_objects_raion                      6.719141e+00
additional_education_raion               2.897464e+00
culture_objects_top_25_raion             2.949414e-01
shopping_centers_raion                   4.274985e+00
office_raion                             8.440826e+00
full_all                                 1.442193e+05
male_f                                   6.627154e+04
                                             ...
sub_area_Zjuzino                         8.339234e-03
culture_objects_top_25_no                9.313193e-01
culture_objects_top_25_yes               6.868067e-02
thermal_power_plant_raion_no             9.457688e-01
thermal_power_plant_raion_yes            5.423124e-02
incineration_raion_no                    9.322896e-01
incineration_raion_yes                   6.771038e-02
oil_chemistry_raion_no                   9.905331e-01
oil_chemistry_raion_yes                  9.466866e-03
radiation_raion_no                       6.415441e-01
radiation_raion_yes                      3.584559e-01
railroad_terminal_raion_no               9.618703e-01
railroad_terminal_raion_yes              3.812970e-02
big_market_raion_no                      9.120447e-01
big_market_raion_yes                     8.795531e-02
nuclear_reactor_raion_no                 9.708389e-01
nuclear_reactor_raion_yes                2.916109e-02
detention_facility_raion_no              8.995621e-01
detention_facility_raion_yes             1.004379e-01
water_1line_no                           9.240815e-01
water_1line_yes                          7.591850e-02
big_road1_1line_no                       9.710487e-01
big_road1_1line_yes                      2.895130e-02
railroad_1line_no                        9.703144e-01
railroad_1line_yes                       2.968557e-02
ecology_excellent                        1.354208e-01
ecology_good                             2.303779e-01
ecology_no data                          2.470564e-01
ecology_poor                             2.642855e-01
ecology_satisfactory                     1.228595e-01
dtype: float64

In [15]:
filled_all_frame_dummy=all_frame_dummy.fillna(value=mean_cols)

In [16]:
filled_all_frame_dummy.isnull().sum().sum()

0

In [17]:
#recover the trainSet and testSet
train_frame_dummy=filled_all_frame_dummy.loc[train_frame.index]
test_frame_dummy=filled_all_frame_dummy.loc[test_frame.index]

In [18]:
train_frame_dummy.shape

(30471, 451)

In [19]:
test_frame_dummy.shape

(7662, 451)

In [20]:
#extract data from DataFrame
trainData=train_frame_dummy.values
trainLabels=train_labels_frame.values
testData=test_frame_dummy.values

In [21]:
trainData.shape

(30471, 451)

In [22]:
trainLabels.shape

(30471,)

In [23]:
testData.shape

(7662, 451)